.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.staff {
  margin-top: 14px;
  color: purple;
  border-bottom: 1px solid #333;
}
.collapse.navbar-collapse {
  margin-left: 14px;
}

h5.card-title {
  margin-top: 10px;
  text-align: center;
  background-color: #ccc;
}
.p-3.card {
  margin: 12px;
  background-color: #ecf5b8;  
}

.nav-link:hover {
  color: rgba(235, 243, 120, 0.781) !important;
}

.container {
  margin-left: 0 !important;
}
button.btn.btn-secondary {
  margin-left: 12px;
}

h2 {
  color: red;
}

